body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.signin-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signin-box h1 {
  margin-bottom: 10px;
}

.signin-box h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.signin-box form {
  display: flex;
  flex-direction: column;
}

.signin-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signin-box input[type="submit"],
.signin-box .register-link {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.register-link {
  margin-top: 10px;
}

.register-link:hover {
  background-color: #0056b3;
}

.forgot-password {
  margin-top: 10px;
}