/* html {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: sans-serif;
  font-size: small;
  overflow-y: scroll;

} */



.ticket-container {
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: small;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 600px; 
  min-width: 600px; 
  box-sizing: border-box;

  
  

}
.link-container {
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: small;
  /* display: inline-block; */

  border: 1px solid #ccc;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 0 auto;

  max-width: 600px; 
  min-width: 600px; 
  box-sizing: border-box;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

/* Style for visited links inside .ticket-container */
a:visited {
  color: inherit; /* Inherit text color */
}

/* Style for active links inside .ticket-container */
a:active,
a:focus {
  outline: none; /* Remove outline on click/focus */
  /* Add any additional styles for active/focus state if needed */
}

.ticket-header {
  display: flex;
  justify-content: space-between;
}

.ticket-id {
  font-size: larger;
  margin: 0;
}

.ticket-status {
  display: inline-block;
  margin-bottom: 5px;
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 5px;
}
.ticket-active-stat {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(2, 146, 194);
  padding: 5px 10px;
  border-radius: 5px;
}

.ticket-category {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(247, 151, 138);
  padding: 5px 10px;
  border-radius: 5px;
}
.ticket-active-cat {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(255, 95, 74);
  padding: 5px 10px;
  border-radius: 5px;
}
.ticket-priority {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(254, 254, 169);
  padding: 5px 10px;
  border-radius: 5px;
}
.ticket-active-prio {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(218, 231, 75);
  padding: 5px 10px;
  border-radius: 5px;
}


.ticket-title {
  margin-top: 10px;
}

.ticket-details {
  display: flex;
}

.ticket-detail-left {
  flex: 1;
}

.ticket-detail-right {
  text-align: right;
}

.ticket-description {
  margin-top: 10px;
}

.support-notes,
.new-support-note,
.change-status {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 15px;
}

button:hover {
  background-color: #004288;
}
.notiz-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}